.insurance {}
.insurance_banner img {
	max-width: 100%;
}
.insurance_table {
	margin-bottom: 3rem;
}
.insurance_table .table {
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	border-color: #ddd;
}
.insurance_table .table thead td,
.insurance_table .table tbody td,
.insurance_table .table tfoot td {
	border: 1px solid #ddd;
	padding: 0.5rem;
	line-height: 2;
}
.insurance_table .table .show_result {
	display: inline-block;
	text-align: center;
	width: 4rem;
	height: 2rem;
	line-height: 2rem;
	margin-right: 0.25rem;
	background-color: #eee;
}
.insurance_table .table .safe_type {
	font-size: 1.25rem;
	font-weight: 400;
	color: #ff0055;
}
.insurance_table .table .item_title {
	font-size: 1.25rem;
	font-weight: 400;
	color: #ff0055;
}
.insurance_table .table .check_box {
	display: block;
	width: 100%;
}
.insurance_table .table .defined_width1 {
	width: 10%;
}
.insurance_table .table .defined_width2 {
	width: 18%;
}
.insurance_table .table .defined_width3 {
	width: 27%;
}
.insurance_table .table .defined_width4 {
	width: 10%;
}
.insurance_table .table .defined_width5 {
	width: 30%;
}
