<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>车险</title>
	<link href="css/normalize.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>

<body ng-app="APP">
	<div class="header" ng-include="'templates/header.html'"></div>
	<div class="main">
		<div class="swrap">
			<div class="insurance_banner">
				<a href="#"><img ng-src="images/insurance_banner.jpg"></a>
			</div>
			<div class="insurance_table">
				<table class="table" ng-controller="ChooseCarController">
					<thead>
						<tr>
							<td class="bg_grey"><span class="item_title">选择车型</span></td>
							<td colspan="4">
								<div>选择意向车型，自助试算保费金额，合理调整您的购车预算。您也可以直接在下方页面选择保险公司进行<a id="#">在线投保</a></div>
								<div>
									<select ng-model="Brands" ng-options="Brands.brand for Brands in ChooseCars">
										<option value="">请选择品牌</option>
									</select>
									<select ng-show="Brands.brand" ng-model="Lines" ng-options="Lines.line for Lines in Brands.lines">
										<option value="">请选择车系</option>
									</select>
									<select ng-show="Lines.line" ng-model="Cars" ng-options="Cars.car for Cars in Lines.cars">
										<option value="">请选择车型</option>
									</select>
									<label for="BuyCarPrice">购车价格：
										<input id="BuyCarPrice" type="num" ng-model="Cars.price">元
									</label>
								</div>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="14" class="bg_grey defined_width1"><span class="item_title">保险试算</span></td>
							<td colspan="3"><span class="safe_type">强制保险</span></td>
							<td></td>
						</tr>
						<tr>
							<td class="defined_width2"><strong>款项</strong></td>
							<td class="defined_width3"><strong>选项</strong></td>
							<td class="defined_width4"><strong>金额</strong></td>
							<td class="defined_width5"><strong>明细</strong></td>
						</tr>
						<tr>
							<td>交通事故责任强制保险</td>
							<td>
								<label>
									<input name="Seats" type="radio" ng-model="seat" value="950" checked>家用6座以下</label>
								<label>
									<input name="Seats" type="radio" ng-model="seat" value="1100">家用6座及以下</label>
							</td>
							<td>
								<span class="show_result" ng-show="seat">{{seat}}</span>元
							</td>
							<td>家用6座以下950元/年，家用6座及以上1100元/年 </td>
						</tr>
						<tr>
							<td colspan="3"><span class="safe_type">商业保险</span></td>
							<td>商业保险小计：1,630元</td>
						</tr>
						<tr>
							<td><strong>款项</strong></td>
							<td><strong>选项</strong></td>
							<td><strong>金额</strong></td>
							<td><strong>明细</strong></td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input id="" type="checkbox" ng-model="TPLI">第三者责任险
								</label>
							</td>
							<td>赔付额度：
								<br>
								<label>
									<input name="TPLI" type="radio" ng-model="TPLI_V" ng-disabled="!TPLI" value="5">5万</label>
								<label>
									<input name="TPLI" type="radio" ng-model="TPLI_V" ng-disabled="!TPLI" value="10">10万</label>
								<label>
									<input name="TPLI" type="radio" ng-model="TPLI_V" ng-disabled="!TPLI" value="20">20万</label>
								<label>
									<input name="TPLI" type="radio" ng-model="TPLI_V" ng-disabled="!TPLI" value="50">50万</label>
								<label>
									<input name="TPLI" type="radio" ng-model="TPLI_V" ng-disabled="!TPLI" value="100">100万</label>
							</td>
							<td>
								<span class="show_result" ng-show="TPLI_V">{{TPLI_V*10000*0.0078}}</span>元
							</td>
							<td>因为交强险在对第三者的财产损失和医疗费用部分赔偿较低，可考虑购买第三者责任险作为交强险的补充。</td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">车辆损失险
								</label>
							</td>
							<td></td>
							<td>
								<input class="show_result" type="text" disabled>元
							</td>
							<td>基础保费+裸车价格×1.0880% </td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">全车盗抢险
								</label>
							</td>
							<td></td>
							<td>
								<input class="show_result" type="text" disabled>元
							</td>
							<td>基础保费+裸车价格×费率</td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">玻璃单独破碎险
								</label>
							</td>
							<td></td>
							<td>
								<input class="show_result" type="text" disabled>元
							</td>
							<td>进口新车购置价×0.25%，国产新车购置价×0.15%</td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox" ng-model="LOSS">自燃损失险
								</label>
							</td>
							<td></td>
							<td>
								<span class="show_result" ng-show="LOSS">{{Cars.price * 0.0015}}元
							</td>
							<td>新车购置价×0.15% </td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">不计免赔特约险
								</label>
							</td>
							<td></td>
							<td>
								<input class="show_result" type="text" disabled>元
							</td>
							<td>(车辆损失险+第三者责任险)×20%</td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">无过责任险
								</label>
							</td>
							<td></td>
							<td>
								<input class="show_result" type="text" disabled>元
							</td>
							<td>第三者责任险保险费×20% </td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">车上人员责任险
								</label>
							</td>
							<td></td>
							<td>
								<input class="show_result" type="text">元
							</td>
							<td>每人保费50元，可根据车辆的实际座位数填写</td>
						</tr>
						<tr>
							<td>
								<label class="check_box">
									<input type="checkbox">车身划痕险
								</label>
							</td>
							<td>赔付额度：
								<br>
								<label>
									<input name="Scratch" type="radio">2千</label>
								<label>
									<input name="Scratch" type="radio">5千</label>
								<label>
									<input name="Scratch" type="radio">1万</label>
								<label>
									<input name="Scratch" type="radio">2万</label>
							</td>
							<td>
								<input class="show_result" type="text" disabled>元
							</td>
							<td></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="bg_grey"><span class="item_title">试算结果</span></td>
							<td colspan="4">此结果仅供参考，费用以实际缴纳为准<a>新车保险预估价:<span>12,289</span>元</a></td>
						</tr>
						</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div class="footer" ng-include="'templates/footer.html'"></div>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>

</body>

</html>
