<div class="products">
	<h1>新车销售</h1>
	<div class="filter">
		<input id="filterBrand" type="text" ng-model="filterBrand">
		<label for="Low">输入品牌</label>
	</div>
	<ul class="list clearfix">
		<li class="list_item" ng-repeat="car in Cars | filter:filterBrand">
			<div class="list_wrap">
				<a ng-href="#/{{car.carID}}" class="pic"><img ng-src="{{car.carFeature}}" alt="{{car.carFeature}}"></a>
				<div class="info">
					<a ng-href="#"><span class="down">【直降{{car.carPriceLow}}万】</span>{{car.carBrandZh}} {{car.carType}} {{car.carYear}} {{car.carCc}}</a>
				</div>
				<div class="price"><span class="guide">指导价：{{car.carPriceGuide}}万</span>特价：<span class="current">{{car.carPriceCurrent}}万</span></div>
				<div class="sell">已售出：3辆</div>
				<div class="btn"><a href="#">立即购买</a></div>
			</div>
		</li>
	</ul>
</div>
