<div class="footer_1">
	<div class="swrap">
		<div class="footer_1_1 rows">
			<div class="col_4_1">
				<div class="col_wrap">
					<img src="/images/footer_1-1.png" alt="">
					<h3>低价保证</h3>
					<p>价格所见即所得，买得到才是真优惠！</p>
				</div>
			</div>
			<div class="col_4_1">
				<div class="col_wrap"><img src="/images/footer_1-2.png" alt="">
					<h3>车源保证</h3>
					<p>依托集团旗下4S店，汽车所提供车源信息保证100%全新车</p>
				</div>
			</div>
			<div class="col_4_1">
				<div class="col_wrap"><img src="/images/footer_1-3.png" alt="">
					<h3>质量保证</h3>
					<p>自营车源及服务网点，保证所售车辆均按国家标准提供三包，按厂家标准提供质保</p>
				</div>
			</div>
			<div class="col_4_1">
				<div class="col_wrap"><img src="/images/footer_1-4.png" alt="">
					<h3>提车无忧</h3>
					<p>车辆签收前，订金无条件可退。
					</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="footer_1_2 rows">
			<div class="col_6_1">
				<div class="col_wrap">
					<h3>购车指南</h3>
					<p><a href="#">购车流程</a></p>
					<p><a href="#">为何选择东安汽车</a></p>
					<p><a href="#">常见问题</a></p>
					<p><a href="#">关于支付</a></p>
				</div>
			</div>
			<div class="col_6_1">
				<div class="col_wrap">
					<h3>提车说明</h3>
					<p><a href="#">提车常见问题</a></p>
					<p><a href="#">提车注意事项</a></p>
				</div>
			</div>
			<div class="col_6_1">
				<div class="col_wrap">
					<h3>售后服务</h3>
					<p><a href="#">维修与保养</a></p>
					<p><a href="#">三包政策</a></p>
					<p><a href="#">退车/换车/包修</a></p>
				</div>
			</div>
			<div class="col_6_1">
				<div class="col_wrap">
					<h3>联系我们</h3>
					<p><a href="#">关于我们</a></p>
					<p><a href="#">联系信息</a></p>
					<p><a href="#">客服咨询</a></p>
				</div>
			</div>
			<div class="col_6_1">
				<div class="col_wrap center">
					<img src="/images/weibo.png">
					<div class="center">官方微博</div>
				</div>
			</div>
			<div class="col_6_1">
				<div class="col_wrap center"><img src="/images/weixin.png">
					<div class="center">官方微信</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer_2">
	<div class="swrap">
		<div class="copyright float_r">备案/许可证编号：鄂ICP备15018850号   经营许可证编号: 鄂B2-20150060</div>
		<div class="logo"><img src="/images/angularjs-for-header-only.svg"> &copy;Copyright 2015 东安集团</div>
	</div>
</div>
