<div class="header_1">
	<div class="swrap">
		<div class="float_r">
			<span class="dropdown">
					<a href="#user" class="menu_item">用户中心</a>
					<div class="dropdown_content">
						<a href="#">用户中心</a>
						<a href="#">我的订单</a>
						<a href="#">账户信息</a>
						<a href="#">我的关注</a>
					</div>
				</span>
			<span class="dropdown">
					<a href="#help" class="menu_item">帮助中心</a>
					<div class="dropdown_content">
						<a href="#">帮助中心</a>
						<a href="#">常见问题</a>
						<a href="#">自主服务</a>
						<a href="#">联系我们</a>
					</div>
				</span>
			<span class="dropdown">
					<a href="#service" class="menu_item">在线客服</a>
					<div class="dropdown_content">
						<a href="#">在线客服</a>
						<a href="#">车险咨询</a>
						<a href="#">售后咨询</a>
						<a href="#">使用帮助</a>
					</div>
				</span>
		</div>
		<div class="login_and_register"><a href="#login" class="menu_item">登录</a> | <a href="#register" class="menu_item">注册</a></div>
	</div>
</div>
<div class="header_2">
	<div class="swrap">
		<div class="float_l">
			<a href="#" class="logo">
				<img src="/images/angularjs-for-header-only.svg" alt="logo">
			</a>
		</div>
		<div class="menu">
			<a href="/index.html" class="menu_item">首 页</a>
			<a href="/products.html#/" class="menu_item menu_active" ng-class="">新车销售</a>
			<a href="/bargain.html#/" class="menu_item">新车特卖</a>
			<a href="/insurance.html" class="menu_item">悦车保险</a>
			<a href="/about.html" class="menu_item">关于东安汽贸</a>
			<label class="float_r">
				<input class="search" name="search" type="text" placeholder="搜索">
			</label>
		</div>
	</div>
</div>
